@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto&display=swap');

*{
    font-family: "Roboto", serif;
}
p{
    color: black;
}
h1{
    color: red;
}
header{
    background-color: green;
}
main{
    background-color: green;
}
footer{
    background-color: green;
}