@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Spice&family=Concert+One&family=Faster+One&family=Knewave&family=Lacquer&family=Sixtyfour+Convergence&display=swap');
.p1{
    font-family: "Sixtyfour Convergence", serif;
}
.p2{
    font-family: "Lacquer", serif;
}
.p3{
    font-family: "Faster One", serif;
}
