h1{
    color: green;
}
p{
    color: red;
}
body{
    text-align: center;
    background-image: url(download\ \(1\).jfif);
    background: no-repeat;
    background-position: center;
    background-size: 100%;
    
}