.div1{
    height: 500px;
    width: 500px;
    background-color: red;
}
.div1:hover{
    display: block;
}
.div2{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: blue;
    bottom: 515px;
}
.div2:hover{
    display: none;
}