#l{
    color: rgb(0, 255, 81);

}
#a{
    color: rgb(0, 200, 255);
}
#z{
    color: rgb(0, 26, 255);
}
#a{
    color: rgb(255, 0, 200);
}
#r{
    color: rgb(255, 0, 0);
}
#e{
    color: rgb(170, 255, 0);
}
#i{
    color: rgb(171, 95, 95);
}
#a{
    color: rgb(47, 79, 97);
}
#k{
    color: rgb(107, 72, 72);
}
#o{
    color: rgb(66, 47, 129);
}
#b{
    color: rgb(120, 168, 184);
}
#a{
    color: rgb(173, 255, 85);
}
#Z{
    color: rgb(229, 219, 255);
}
#e{
    color: rgb(255, 2, 171);
}