.blah{
    height: 150px;
    width: 150px;
    background-color: black;
    border: 10px double cyan;
    transition: 0.5s;
    border-radius: 10%;
}
.blah:hover{
    background-color: blue;
    border: 10px dashed #ffffff;
    transition: 0.5s;
    border-radius: 10%;
}
.blah:active{
    background-color: brown;
    border: 10px dotted #ffffff;
    border-radius: 100%;
    transition: 0.5s;
}