body{
    padding-top: 200px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url("./2025-Toyota-GR-Supra-001-1080.jpg") no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}
h1{
    font-weight: 400;
}
a button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}