#b1{
    background-color: green;
    font-size: medium;
}
#b1:hover{
    background-color: pink;
    font-size: larger;
}
#b2{
    background-color: green;
    font-size: medium;
}
#b2:hover{
    background-color: pink;
    font-size: larger;
}
#b3{
    background-color: green;
    font-size: medium;
}
#b3:hover{
    background-color: pink;
    font-size: larger;
}
#b4{
    background-color: green;
    font-size: medium;
}
#b4:hover{
    background-color: pink;
    font-size: larger;
}
#b5{
    background-color: green;
    font-size: medium;
}
#b5:hover{
    background-color: pink;
    font-size: larger;
}